<!doctype html>
<head>
<title>status</title>
<link rel="stylesheet" href="">
<style>
* {
  background: #000000;
  color: #ffffff;
}

h1 {
  font-size: 7rem;
  margin: 0;
}

.title-font {
  font-family:'Times New Roman', Times, serif;
  font-weight: 600;
  font-stretch: 0.79;
  transform:scale(0.79,1); 
}

.code {
  white-space: pre;
  font-family: monospace;
  font-weight: 400;
  color: #dddddd;
}
</style>
</head>

<body>
  <h1 class="title-font">
    {{ hostname.upper() }}
  </h1>
  <div class="title=font">
    {{ uptime.capitalize() }}
   </div>
  
   <div class="code">
    {{ processes }}
   </div>

</body>
</html>